@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit";
}
.container {
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  width: 250px;
  border-radius: 13px;
}
img {
  width: 100%;
  border-radius: 13px;
  margin: 0 auto 10px;
  display: block;
}
h2 {
  font-size: 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}
p {
  font-size: 15px;
  text-align: center;
  line-height: 23px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(216, 15%, 48%);
}
